<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/register" method="POST">
        <input type="text" name="name" id="" placeholder="Input name">
        <input type="email" name="email" placeholder="email" id="">
        <input type="password" name="password" placeholder="password" id="confirmed">
        <input type="password" placeholder="same password again">
        <button type="submit">Register</button>
    </form>
</body>
</html>