/* body {
    
} */
.background {
    background-color: #FDEEDC;
    
}

/* for special items */
img {
    padding: 0;

}

/* for slide show css */

.card{
    border-color: 1px solid #E38B29;
}

.btn {
    background-color: #E38B29;
    width: 100%;
}


