/* body {
    
} */
.background {
    background-color: #FDEEDC;
    
}

.container {
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* padding: 0; */
    background-color: white;
    border: 2px solid white;
    /* border-radius: 28px; */
    box-shadow: 0 0 0 3px #7171713b;
}


img {
    padding: 0;
}


.btn {
    background-color: #E38B29;
}

.btn:hover {
   
}