/* body {
    
} */
.background {
    background-color: #FDEEDC;
    
}

.container {
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* padding: 0; */
    background-color: white;
    border: 2px solid white;
    /* border-radius: 28px; */
    box-shadow: 0 0 0 3px #7171713b;
}

.no-padding-col {
    padding-left: 1%;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

img {
    padding: 0;
}

/* for slide show css */

.btn {
    background-color: #E38B29;
    width: 100%;
}

.btn:hover {
   background-color: #FFD8A9;

}
